.nav_bar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
}

.nav_bar_logo {
    width: 150px;
    height: 150px;
    margin-right: auto;
}

.nav_button {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

.nav_iniciar_sesion{
    width: 25px;
    height: auto;
}

.nav_crear_cuenta{
    width: 25px;
    height: auto;
}

